body{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
}

.header{
    margin: 10px;
}


.redes ul {
    margin: 5px;
}

.redes ul li {
    display: inline-block;
    padding: 5px;
    
}

.redes p {
    margin: 5px;
    font-size: 13px;
    
}

.logotipo {
    display: flex;
    align-items: center;
    padding: 5px;
}

.logotipo img {
    margin: 5px;
    width: 25%;
}

.nav{
    padding: 5px;
    margin: 5px;
}

.catalogo{
    position: relative;
    width: 100%;
    height: 100%;
}

.articulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.articulo p{
    padding: 10px;
    font-size: 12px;

}

.x1{
    position: relative;
}

.x1 img{
    width: 100%;
}

.seccion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 12px;

}

@media (min-width: 768px){
    .header{
        position: absolute;
        z-index: 1;
    }

    .redes{
        font-size: 20px;
        
    }

    .redes p{
        font-size: 20px;
        
    }

    .logotipo{
        color: black;
        font-size: 24px;
        
        
    }

    .logotipo img {
        margin: 5px;
        width: 15%;
        
    }

    .nav{
        opacity: 0;
    }

    .catalogo {
        display: flex;
        width: 100%;
        height: 800px;
        
        
    }
    
    .catalogo img {
        width: 15%;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: 0.5s ease, filter 0.5s ease;
        margin-right: 5px;
        

    }


    .catalogo img:hover{
        cursor: crosshair;
        width: 250px;
        opacity: 1;
        filter: contrast(120%);
    }

    .seccion{
        font-size: 24px;
    }

}

@media (min-width: 1200px){


    .catalogo img {
        transform: rotate(8deg);
        margin-right: 10px;
        margin-bottom: -35px;
        margin-top: -35px;
        
        
    } 

    .seccion{
        font-size: 28px;
    }

}

 


